@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotation {
    animation-name: rotation;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
    animation-duration: 6s;
}